<div class="row d-flex justify-content-center mb-5">

    <div class="card mb-3" style="max-width: 540px;">
      <h5 class="card-title mt-4 mx-4"><%= @recipe.title %></h5>
      <div class="row g-0">
        <div class="col-md-4">
          <% if @recipe.image.attached? %>
            <%= image_tag @recipe.image.variant(resize: "440x386^", gravity: :center, crop: "440x386+0+0").processed, class: "card-img-top object-fit-cover border m-3" %>
          <% else %>
            <%= image_tag "no_image.png", class: "card-img-top object-fit-cover border m-3" %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text"><%= @recipe.body %></p>
              
            <!--いいね機能の実装-->
            <div class="mb-3">
              <% if current_user %>
                <% if current_user.already_favorited?(@recipe) %>
                  <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
                    <i class="fa-solid fa-star fa-2x ml-2"></i>
                  <% end %>
                <% else %>
                  <%= link_to recipe_favorites_path(@recipe), method: :post do %>
                    <i class="fa-regular fa-star fa-2x ml-2"></i>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to recipe_favorites_path(@recipe), method: :post do %>
                  <i class="fa-regular fa-star fa-2x ml-2"></i>
                <% end %>
              <% end %>
              <%= @recipe.favorites.count %>
              
              <!--コメント-->
              <%= link_to recipe_comments_path(@recipe) do %>
                <i class="fa-solid fa-comments fa-2x ml-2" style="color:#98BCAC;"></i>
              <% end %>
              <%= @recipe.comments.count %>
            </div>
            <p class="card-text">
              <small class="text-muted"><%= @recipe.created_at.to_s(:datetime_jp) %></small>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>