<div class="nested-fields">
  <div class="field mb-3">
    
    <div class="row">
      <div class="col-md-6">
        <%= f.text_field :material_name, placeholder: "材料名", class: "form-control mb-1 rounded-pill" %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :saving_size, placeholder: "分量", class: "form-control mb-1 rounded-pill" %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :unit, placeholder: "単位", class: "form-control mb-1 rounded-pill" %>
      </div>
    </div>
    
    <%= f.hidden_field :material_id %>
    
    <%= link_to_remove_association "削除", f, style: "color:red;" %>
  </div>
</div>