<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <h2 class="mb-5 d-flex justify-content-center" style="color: #fff;">
      みんなの節約ごはん
    </h2>
    
     <div class="col-lg-2 offset-lg-5 btn rounded-pill mb-5 d-flex justify-content-center top-guestlogin-btn">
        <%= link_to new_recipe_path, style: "color:#fff;" do %>
          <i class="fa-solid fa-circle-plus"> 投稿する</i>
        <% end %>
      </div>
    
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-lg-4 mb-5">
          <%= link_to recipe_path(recipe) do %>
            <div class="card p-2">
              <% if recipe.image.attached? %>
                <%= image_tag recipe.image.variant(resize: "440x386^", gravity: :center, crop: "440x386+0+0").processed, class: "card-img-top object-fit-cover border rounded" %>
              <% else %>
                <%= image_tag "no_image.png", class: "card-image-top object-fit-cover border rounded" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= recipe.title %></h5>
                <span><%= recipe.created_at.to_s(:datetime_jp) %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>