<div class="row">
  <div class="col-10 offset-1 mb-5" style="background-color:#F8F5E3;">
    <h2 class="m-5 show-title">
      <%= @recipe.title %>
    </h2>

    <div class="row mb-5">
      <div class="col-5 offset-1">
        <% if @recipe.image.attached? %>
          <%= image_tag @recipe.image.variant(resize: "440x386^", gravity: :center, crop: "440x386+0+0").processed, class: "card-img-top object-fit-cover border rounded" %>
        <% else %>
          <%= image_tag "no_image.png", class: "img-fluid img-thumbnail" %>
        <% end %>
      </div>
      <div class="col-5">
        <p class="m-3"><%= @recipe.body %></p>
        
        <div class="card mb-3" style="max-width: 300px;">
          <div class="row g-0">
            <div class="col-md-4">
              <% if @user.image.attached? %>
                <%= image_tag @user.image.variant(resize: "440x386^", gravity: :center, crop: "440x386+0+0").processed, class: "card-img-top object-fit-cover border rounded-circle m-3" %>
              <% else %>
                <%= image_tag "no_image.png", class: "card-img-top object-fit-cover border rounded-circle m-3" %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="card-title"><%= @user.name %></div>
                <p class="card-text"><small class="text-muted"><%= @user.created_at.to_s(:datetime_jp) %></small></p>
              </div>
            </div>
          </div>
        </div>
        
        <!--いいね機能の実装-->
        <div class="mb-3">
          <% if current_user.already_favorited?(@recipe) %>
            <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
              <i class="fa-solid fa-star fa-2x ml-2"></i>
            <% end %>
          <% else %>
            <%= link_to recipe_favorites_path(@recipe), method: :post do %>
              <i class="fa-regular fa-star fa-2x ml-2"></i>
            <% end %>
          <% end %>
          <%= @recipe.favorites.count %>
          
          <!--コメント-->
          <%= link_to recipe_comments_path(@recipe) do %>
            <i class="fa-solid fa-comments fa-2x ml-2" style="color:#98BCAC;"></i>
          <% end %>
          <%= @recipe.comments.count %>
        </div>
        
      </div>
    </div>
    
    <div class="row mb-5">
      <div class="col-6 offset-3">
        <h4 class="d-flex justify-content-center show-mini-title mb-3">材料</h4>
        <ul class="recipe_material-ul">
          <% @recipe_materials.each do |recipe_material| %>
            <li class="mb-2 recipe_material-ul" style="color:#545454;">
              <%= recipe_material.material.name %>...<%= recipe_material.saving_size %><%= recipe_material.unit %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class="row mb-5">
      <div class="col-6 offset-3">
        <h4 class="d-flex justify-content-center show-mini-title mb-3">作り方</h4>
        <ol>
          <% @details.each do |detail| %>
            <li class="mb-2" style="color:#545454;"><%= detail.body %></li>
          <% end %>
        </ol>
      </div>
    </div>
    
    <span class="d-flex justify-content-center mb-3" style="color:#545454;"><%= @recipe.created_at.to_s(:datetime_jp) %></span>
    
  </div>
</div>
<div class="col-lg-2 offset-lg-5 btn rounded-pill mb-5 d-flex justify-content-center btn-primary">
  <%= link_to edit_recipe_path(@recipe), style: "color:#fff;" do %>
    <i class="fa-solid fa-pen-to-square"> 編集する</i>
  <% end %>
</div>