<div class="col-lg-2 offset-lg-5 btn rounded-pill mb-5 d-flex justify-content-center btn-primary">
      <%= link_to edit_recipe_path(@recipe), style: "color:#fff;" do %>
        <i class="fa-solid fa-pen-to-square"> 編集する</i>
      <% end %>
    </div>
    
<div class="row">
  <div class="col-10 offset-1" style="background-color:#fff;">
    <h2 class="m-5 show-title">
      <%= @recipe.title %>
    </h2>

    <div class="row mb-5">
      <div class="col-5 offset-1">
        <% if @recipe.image.attached? %>
          <%= image_tag @recipe.image.variant(resize: "440x386^", gravity: :center, crop: "440x386+0+0").processed, class: "card-img-top object-fit-cover border rounded" %>
        <% else %>
          <%= image_tag "no_image.png", class: "img-fluid img-thumbnail" %>
        <% end %>
      </div>
      <div class="col-5 user-tag m-2">
      </div>
    </div>
    
    <div class="row mb-5">
      <div class="col-6 offset-3">
        <h4 class="d-flex justify-content-center show-mini-title mb-3">材料</h4>
        <ul class="recipe_material-ul">
          <% @recipe_materials.each do |recipe_material| %>
            <li class="mb-2 recipe_material-ul">
              <%= recipe_material.material.name %>...<%= recipe_material.saving_size %><%= recipe_material.unit %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class="row mb-5">
      <div class="col-6 offset-3">
        <h4 class="d-flex justify-content-center show-mini-title mb-3">作り方</h4>
        <ol>
          <% @details.each do |detail| %>
            <li class="mb-2"><%= detail.body %></li>
          <% end %>
        </ol>
      </div>
    </div>
    
    <div class="row links mb-5">
      <div class="col-md-8 offset-md-2">
        <%= link_to "< 戻る", recipes_path, class: "d-flex justify-content-center" %>
      </div>
    </div>
  </div>
</div>