<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
   

<%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>

<%= render 'layouts/error_messages', resource: f.object %>

  <div class="mb-3 col-8 offset-2 rounded mx-auto d-block">
    <div id="prev-image" class="mb-3">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class: "img-fluid img-thumbnail" %>
      <% else %>
        <%= image_tag "no_image.png", class: "img-fluid img-thumbnail" %>
      <% end %>
    </div>
    <div class="mb-5">
      <%= f.file_field :image, accept: "image/*", id: "recipe_image" %>
    </div>
  </div>
  
  <div class="field mb-3">
    <%= f.text_field :name, placeholder: "名前", class: "form-control rounded-pill" %>
  </div>
  
  <div class="field mb-5">
    <%= f.text_field :email, placeholder: "メールアドレス", class: "form-control rounded-pill" %>
  </div>
  
  <div class="field mb-5">
    <%= f.text_area :introduction, placeholder: "自己紹介", class: "form-control rounded-pill" %>
  </div>
      
  <div class="row actions mb-5">
    <div class="col-md-8 offset-md-2">
      <%= f.submit "更新", class: "btn btn-primary btn-block rounded-pill", style: "font-weight:bold;" %>
    </div>
  </div>
<% end %>
</div>
</div>
<div class="row links mb-5">
  <div class="col-md-8 offset-md-2">
    <%= link_to "< 戻る", my_path, class: "d-flex justify-content-center" %>
  </div>
</div>

<script>
  const createImageHTML = (blob) => {
    const imageElement = document.getElementById('prev-image');
    const blobImage = document.createElement('img');
    blobImage.setAttribute('class', 'img-thumbnail');
    blobImage.setAttribute('src', blob);
    imageElement.removeChild(imageElement.children[0]);
    imageElement.appendChild(blobImage);
  };
  
  document.getElementById('recipe_image').addEventListener('change', (e) => {
    const file = e.target.files[0];
    const blob = window.URL.createObjectURL(file);
    createImageHTML(blob);
  });
</script>