<div class="row d-flex justify-content-center mb-3">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <% if current_user.image.attached? %>
          <%= image_tag current_user.image.variant(resize: "440x386^", gravity: :center, crop: "440x386+0+0").processed, class: "card-img-top object-fit-cover border rounded-circle m-3" %>
        <% else %>
          <%= image_tag "no_image.png", class: "card-img-top object-fit-cover border rounded-circle m-3" %>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= current_user.name %></h5>
          <p class="card-text"><%= current_user.email %></p>
          <p class="card-text"><%= current_user.introduction %></p>
          <p class="card-text"><small class="text-muted"><%= current_user.created_at.to_s(:datetime_jp) %></small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-2 offset-lg-5 btn rounded-pill mb-4 d-flex justify-content-center btn-primary">
  <%= link_to edit_user_path(current_user), style: "color:#fff;" do %>
    <i class="fa-solid fa-pen-to-square"> 編集する</i>
  <% end %>
</div>
<div class="col-lg-2 offset-lg-5 btn rounded-pill mb-5 d-flex justify-content-center btn-primary">
  <%= link_to destroy_user_session_path, method: :delete, style: "color:red;" do %>
    <i class="fa-solid fa-right-from-bracket"> ログアウト</i>
  <% end %>
</div>