<%= form_with model: @event, local: true do |f| %>

  <%= render 'layouts/error_messages', resource: f.object %>

  <div class="row mb-5">
    <div class="col-10 offset-1">
      <%= month_calendar events: @events do |date, events| %>
        <span style="color:#fff;"><%= date.day %></span><br>
        <% events.each do |event| %>
          <div>
            <span style="color:green;">＋<%= event.income %></span><br>
            <span style="color:tomato;">－<%= event.expense %></span><br>
            <span style="color:purple;">計<%= event.income-event.expense %></span><br>
            <%= link_to "編集", edit_event_path(event), class: "mr-1" %>
            <%= link_to "削除", event_path(event), method: :delete, data: { confirm: "本当に削除しますか？" }, style: "color:red;" %></br>
            <small class="text-muted"><%= event.created_at.to_s(:datetime_jp) %></small>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
   <%= render partial: "event_form", locals: { f: f } %>
  
<% end %>