<div class="row">
  <div class="col-lg-12 text-center">
    <%= image_tag '節約ごはん2.png', class: "img-fluid" %>
  </div>
</div>
<div class="row d-grid gap-2 col-sm-6 mx-auto text-center">
  <div class="col-lg-12 btn rounded-pill mb-4 top-login-btn">
    <%= link_to new_user_registration_path, style: "color:#F0908D;" do %>
      <i class="fa-solid fa-user-plus"> 新規登録</i>
    <% end %>
  </div>
  <div class="col-lg-12 btn rounded-pill mb-4 top-login-btn">
    <%= link_to new_user_session_path, style: "color:#F0908D;" do %>
      <i class="fa-solid fa-right-to-bracket"> ログイン</i>
    <% end %>
  </div>
  <div class="col-lg-12 btn rounded-pill mb-5 top-guestlogin-btn">
    <%= link_to users_guest_sign_in_path, method: :post, style: "color:#fff;" do %>
      <i class="fa-solid fa-eye"> ゲストログイン</i>
    <% end %>
  </div>
  <div class="col-lg-12">
    <%= link_to about_path do %>
      <i class="fa-solid fa-circle-question"> 節約ごはんの使い方</i>
    <% end %>
  </div>
</div>