<div class="row simple-calendar">
  <div class="col-8 offset-2 text-center calendar-heading mb-3">
    <h2 class="mb-4"><time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></time></h2>

    <h3>
      <%= link_to t('simple_calendar.previous', default: '<'), calendar.url_for_previous_view %>
      <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, class: "mx-5" %>
      <%= link_to t('simple_calendar.next', default: '>'), calendar.url_for_next_view %>
    </h3>
  </div>

  <table class="table table-striped">
    <thead class="text-center" style="background-color:#F8F5E3; color:#98BCAC;">
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody style="color:#fff;">
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
