<div class="row">
  <div class="col-lg-12 text-center">
    <h2 class="pt-5" style="color: #FFF;"><i class="fa-solid fa-right-to-bracket"> ログイン</i></h2>
    <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="field pt-3">
        <%= f.label :名前 %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field pt-3">
        <%= f.label :パスワード %><br />
        <%= f.text_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field pt-3">
          <%= f.check_box :remember_me %>
          <%= f.label :記録する %>
        </div>
      <% end %>

      <div class="actions p-3">
        <%= f.submit "ログイン" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>