<nav class="navbar mb-4" style="box-shadow:0px 8px 5px -5px rgba(0,0,0,0.5)" >
  <div class="container-fluid m-2 justify-content-center">
    <%= form_with url: recipes_path, method: :get, class: "d-flex" do |f| %>
      <%= f.search_field :keyword, placeholder: "材料で検索する", class: "form-control me-2 rounded-pill" %>
      <%= f.submit "検索", class: "btn" %>
    <% end %>
  </div>
</nav>

<% if user_signed_in? %>
<nav class="row">
  <div class="col-10 offset-1">
    <div class="row d-flex justify-content-center mb-5">

      <% if controller_name == "users" && (action_name == "my" || action_name == "edit") %>
        <div class="col-lg-2 btn rounded-pill btn-success m-1">
          <%= link_to my_path, style: "color:#fff;" do %>
            <i class="fa-solid fa-user"> マイページ</i>
          <% end %>
        </div>
      <% else %>
        <div class="col-lg-2 btn rounded-pill btn-primary m-1">
          <%= link_to my_path, style: "color:#fff;" do %>
            <i class="fa-solid fa-user"> マイページ</i>
          <% end %>
        </div>
      <% end %>
      
      <% if current_page?(users_path) %>
        <div class="col-lg-2 btn rounded-pill btn-success m-1">
          <%= link_to users_path, style: "color:#fff;" do %>
             <i class="fa-solid fa-users"> ユーザー</i>
          <% end %>
        </div>
      <% else %>
        <div class="col-lg-2 btn rounded-pill btn-primary m-1">
          <%= link_to users_path, style: "color:#fff;" do %>
             <i class="fa-solid fa-users"> ユーザー</i>
          <% end %>
        </div>
      <% end %>

      <% if (controller_name == "recipes" && (action_name == "index" || action_name == "show" || action_name == "edit")) || (controller_name == "comments" && action_name == "index") %>
        <div class="col-lg-2 btn rounded-pill btn-success m-1">
          <%= link_to recipes_path, style: "color:#fff;" do %>
            <i class="fa-solid fa-bowl-food"> 節約ごはん</i>
          <% end %>
        </div>
      <% else %>
        <div class="col-lg-2 btn rounded-pill btn-primary m-1">
          <%= link_to recipes_path, style: "color:#fff;" do %>
            <i class="fa-solid fa-bowl-food"> 節約ごはん</i>
          <% end %>
        </div>
      <% end %>

      <% if current_page?(new_recipe_path) %>
        <div class="col-lg-2 btn rounded-pill btn-success m-1">
          <%= link_to new_recipe_path, style: "color:#fff;" do %>
            <i class="fa-solid fa-circle-plus"> 投稿する</i>
          <% end %>
        </div>
      <% else %>
        <div class="col-lg-2 btn rounded-pill btn-primary m-1">
          <%= link_to new_recipe_path, style: "color:#fff;" do %>
            <i class="fa-solid fa-circle-plus"> 投稿する</i>
          <% end %>
        </div>
      <% end %>

      <% if current_page?('#') %>
        <div class="col-lg-2 btn rounded-pill btn-success m-1">
          <%= link_to '#', style: "color:#fff;" do %>
             <i class="fa-solid fa-pencil"> 記録する</i>
          <% end %>
        </div>
      <% else %>
        <div class="col-lg-2 btn rounded-pill btn-primary m-1">
          <%= link_to '#', style: "color:#fff;" do %>
            <i class="fa-solid fa-pencil"> 記録する</i>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</nav>
<% end %>