<header class="nav justify-content-end pt-3">
  <% if user_signed_in? %>
  <div class="btn">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa-solid fa-right-from-bracket"></i>
    <% end %>
  </div>
  <% else %>
  <div class="btn">
    <%= link_to new_user_registration_path do %>
      <i class="fa-solid fa-user-plus"></i>
    <% end %>
  </div>
  <div class="btn">
    <%= link_to new_user_session_path do %>
      <i class="fa-solid fa-right-to-bracket"></i>
    <% end %>
  </div>
  <div class="btn">
    <%= link_to users_guest_sign_in_path, method: :post do %>
      <i class="fa-solid fa-eye"></i>
    <% end %>
  </div>
  <div class="btn">
    <%= link_to about_path do %>
      <i class="fa-solid fa-circle-question"></i>
    <% end %>
  </div>
  <% end %>
</header>