<nav class="navbar mb-4" style="box-shadow:0px 8px 5px -5px rgba(0,0,0,0.5)">
  <div class="container-fluid m-2 d-flex justify-content-between">
    <div clas="navbar-brand">
      <% if user_signed_in? %>
        <%= link_to recipes_path do %>
          <div style="color:#F8F5E3; font-size:25px">節約ごはん</div>
        <% end %>
      <% else %>
        <%= link_to top_path do %>
          <div style="color:#F8F5E3; font-size:25px">節約ごはん</div>
        <% end %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= form_with url: recipes_path, method: :get, class: "d-flex" do |f| %>
        <%= f.search_field :keyword, placeholder: "材料で検索する", class: "form-control me-2 rounded-pill" %>
        <%= f.submit "検索", class: "btn-primary ml-1 rounded-pill", style: "font-weight:bold" %>
      <% end %>
    <% end %>
    <div class="col-lg-1 btn rounded-pill btn-primary m-1">
        <%= link_to destroy_user_session_path, method: :delete, style: "color:white;" do %>
          <i class="fa-solid fa-right-from-bracket"></i>
        <% end %>
      </div>
  </div>
</nav>

<% if user_signed_in? %>
<nav class="row">
  <div class="col-10 offset-1">
    <div class="row d-flex justify-content-center mb-5">

      <% if controller_name == "users" && (action_name == "show" || action_name == "edit") %>
        <div class="col-lg-2 btn rounded-pill btn-success m-1">
          <%= link_to user_path(current_user), style: "color:#fff;" do %>
            <i class="fa-solid fa-user"> マイページ</i>
          <% end %>
        </div>
      <% else %>
        <div class="col-lg-2 btn rounded-pill btn-primary m-1">
          <%= link_to user_path(current_user), style: "color:#fff;" do %>
            <i class="fa-solid fa-user"> マイページ</i>
          <% end %>
        </div>
      <% end %>

      <% if current_page?(users_path) %>
        <div class="col-lg-2 btn rounded-pill btn-success m-1">
          <%= link_to users_path, style: "color:#fff;" do %>
             <i class="fa-solid fa-users"> ユーザー</i>
          <% end %>
        </div>
      <% else %>
        <div class="col-lg-2 btn rounded-pill btn-primary m-1">
          <%= link_to users_path, style: "color:#fff;" do %>
             <i class="fa-solid fa-users"> ユーザー</i>
          <% end %>
        </div>
      <% end %>

      <% if (controller_name == "recipes" && (action_name == "index" || action_name == "show" || action_name == "edit" || action_name == "confirm" )) || (controller_name == "comments" && action_name == "index") %>
        <div class="col-lg-2 btn rounded-pill btn-success m-1">
          <%= link_to recipes_path, style: "color:#fff;" do %>
            <i class="fa-solid fa-bowl-food"> 節約ごはん</i>
          <% end %>
        </div>
      <% else %>
        <div class="col-lg-2 btn rounded-pill btn-primary m-1">
          <%= link_to recipes_path, style: "color:#fff;" do %>
            <i class="fa-solid fa-bowl-food"> 節約ごはん</i>
          <% end %>
        </div>
      <% end %>

      <% if current_page?(new_recipe_path) %>
        <div class="col-lg-2 btn rounded-pill btn-success m-1">
          <%= link_to new_recipe_path, style: "color:#fff;" do %>
            <i class="fa-solid fa-circle-plus"> 投稿する</i>
          <% end %>
        </div>
      <% else %>
        <div class="col-lg-2 btn rounded-pill btn-primary m-1">
          <%= link_to new_recipe_path, style: "color:#fff;" do %>
            <i class="fa-solid fa-circle-plus"> 投稿する</i>
          <% end %>
        </div>
      <% end %>

      <% if current_page?(new_event_path) %>
        <div class="col-lg-2 btn rounded-pill btn-success m-1">
          <%= link_to new_event_path, style: "color:#fff;" do %>
             <i class="fa-solid fa-pencil"> 記録する</i>
          <% end %>
        </div>
      <% else %>
        <div class="col-lg-2 btn rounded-pill btn-primary m-1">
          <%= link_to new_event_path, style: "color:#fff;" do %>
            <i class="fa-solid fa-pencil"> 記録する</i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
<% end %>