<!DOCTYPE html>
<html>
  <head>
    <title>節約ごはん</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('節約ごはん.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/22a59f0dba.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="">
        <%= link_to "節約ごはん", root_path, class: "navbar-brand" %>
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn" %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn" %>
          <%= link_to "ログイン", new_user_session_path, class: "btn" %>
        <% end %>
      </div>
    </nav>
    
    <%= render 'layouts/notification' %>
    <%= yield %>
  </body>
</html>
